body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #2F2E41;

    min-height: 100vh;

}


.page{
  margin: 0 auto;
  padding-top: 71px;

  width: 1082px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

ul{
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0;
    padding: 0;
}

a{
    color: #C2C2C2;
    text-decoration: none;
}

ul li a {
    color: #FFFFFF;
    font-family: 'JetBrains Mono', monospace;
}

ul li a:hover{
    font-weight: bold;
    opacity: 1;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
    margin-top: 100px;
    
}

h1{
    font-family: 'JetBrains Mono', monospace;
    color:#FFFFFF;

    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
}

span{
    color: #00BFA6;
    font-weight: bold;
}

section p {
    font-family: 'Open Sans', sans-serif;
    color: #C2C2C2;

    font-size: 16px;
    line-height: 28px;
}

.strong{
    color: #00BFA6;
}

footer {
    font-family: 'JetBrains Mono', monospace;
    width: 568px;
    text-align: center;
    line-height: 28px;
    position: absolute;
    bottom: 0;
    left: 30%;
}

footer,a, p{
    color: #FFFFFF;
}

hr { background-color: #00BFA6; height: 1px; border: 1px; }

#padlock {
    position: fixed;
    bottom: 20px;
    left: 20px;
    
}